/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Rubik+Mono+One&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*_________________*/
/* GENERAL STYLES  */
/*_________________*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    background:#053b50;
}


/*_________________*/
/* HEADER  */
/*_________________*/

header {
    background-color: #053b50;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fdfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 16px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 3px solid #ffffff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #053b50;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #ffffff;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*_________________*/
/* INDEX.HTML  */
/*_________________*/

/*HERO*/
.hero {
    background: url(../images/office.jpg) no-repeat center/cover;
    position: relative;
    height: 60vh;
    width: 100%;
    color:#053b50;
}

.hero-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px #110303; 
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);  
    height: 100%;
    color:#ffffff;
}

.index-info{
    flex-direction: column;
    background-color: #176b87;
    color: #fdfcfc;
    justify-content: center;
    font-size: large;


}

.index-service{
    background: url(../images/krakenimages-376KN_ISplE-unsplash.jpg) no-repeat center/cover;
    position: relative;
    height: 60vh;
    width: 100%;
    color:#053b50;

}
.index-service-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px #110303; 
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.5);  
    height: 100%;
    color:#ffffff;
    font-size: x-small;
    line-height: 1.2em;
}

.our-service{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: medium;
    padding-bottom: 1em;


    
}
.index-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #053b50;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.index-button:hover {
    background-color: #176b87;
}
.space-service{
    padding-top: 1rem;
}

/*_________________*/
/* ABOUT.HTML  */
/*_________________*/

.staff { 
    display: contents;
    position : relative; 
    height: 100vh;
    width: 100%;
    text-align: left;
    
}
.staff-image {
    width: 5rem;
    height: 5rem;
    border-radius: 15%;
    margin-left: 4rem;
    opacity: 0;
    transition: opacity 0.3s;
}
.staff-list-h3:hover .staff-image {
    opacity: 1;
}

.staff-h2 {
    padding: 1rem 3rem;
    font-display: center;
}

.staff-list {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
}

/* List in staff */
.staff-list-h3 {
    margin-bottom: 10px;
    
}
.staff-list-p{
    font-size: small;

}
.staff-list-p1{
    font-size: x-small;

}
.thefixus {
    
    justify-content: space-between; 
}
.staff-list-top{
    margin-top: 8rem;
}


/*_________________*/
/* CONTACT.HTML  */
/*_________________*/

.trouble-img {
    background: url(../images/trouble.jpg) no-repeat center/cover;
    position : relative;
    height: 100vh;
    width: 100%;
    

}

.trouble {    
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: left;
    font-size: 14pt;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   margin-top: auto;
}

.h1-contact{
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    color:#ffffff;
    font-size: 20px;
    display:flex
}
.contact-form-1{
    margin-top: 4rem;
    width: 90%;
    max-width: 600px;

}
.thanks-form {
    margin-top: 15vh;
    width: 90%;
    max-width: 600px;
}

.contact-form{
    margin-bottom: 3px;
}

.contact-label{
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7)
}

.contact-input {
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.5);
}
.contact-text {
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 19px;
    background: rgba(0, 0, 0, 0.5);
    
}
.contact-button{
    margin-bottom: 3px;
    padding: 1rem 0;
    font-family: 'sans-serif' 'Montserrat';
    background-color: #053b50;
    border: 1px solid #ffffff;
    font-size: medium;
    color:#ffffff;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)

}

/*_________________*/
/* THANKS PAGE  */
/*_________________*/

.thanks {
    background: url(../images/thanks.jpg)no-repeat center/cover;
    display:flex;
    align-items: center;
    padding: 5rem;
    padding-top: 20rem;
    max-height: 700px;
    width: 70%;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.9)
}



.thanks-h1 {
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 16px;
}

#closebutton {
    width: 40%;
    height: 2rem;

}

/*_________________*/
/* FOOTER  */
/*_________________*/
.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #053b50;
    color: #fff;
    text-align: center;
    
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color:#053b50;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #64ccc5;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
/* Header */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        padding-right: 1rem;
    } 


    header{
        height: 7rem;
    }

    #menu { 
        display: flex;
        list-style: none;
        gap: 2rem; 
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 120%;
        margin: 0 0.5rem;
    }
   
    .thanks-form {
        margin-top: 20vh;
    }
}
 


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {




      
    .index-info{
        padding-right: 1rem;
    }
    
}
