/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Rubik+Mono+One&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*_________________*/
/* GENERAL STYLES  */
/*_________________*/


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    background:#053b50;
}



/*_________________*/
/* HEADER  */
/*_________________*/

header {
    background-color: #053b50;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fdfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 16px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 3px solid #ffffff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #053b50;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #ffffff;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*_________________*/
/* INDEX.HTML  */
/*_________________*/


.fixus-box{ 
    height: 1rem; 
    width: 100%;
}

.fixus-text-box{
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgba(1, 1, 1, 0.5);
}

.fixus-h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;
}

.fixus-p{
    margin-top: 1rem;
    line-height: 1rem;
    text-align: left;
}
.fixus-title-sect{
    margin: 6rem 1rem 1rem 1rem;
}
.fixus-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    font-size: 2rem;
}
.fixus-img-help{
    width: 16rem;
    
}




/*_________________*/
/* ABOUT.HTML  */
/*_________________*/

.staff { 
    display:contents;
    position : relative; 
    height: 800px;
    width: 450px;
    text-align: auto;
    
    
    
}
.staff-image {
    width: 5rem;
    height: 5rem;
    border-radius: 15%;
    margin-left: 4rem;
    transition: opacity 0.3s;
}


.staff-list {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
}
.space-div-about {
    margin-top: 8rem;
}
.space-div-about-down {
    margin-bottom: 8rem;
}
/*_________________*/
/* CONTACT.HTML  */
/*_________________*/

.trouble-img {
    background: #053b50;
    position : relative;
    height: 660px;
    width: 100%;
    

}

.trouble {    
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: left;
    font-size: 14pt;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: auto;
    cursor: pointer;
}

.h1-contact{
    display:flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    color:#ffffff;
    font-size: 20px;
    display:flex
}
.contact-form-1{
    margin-top: 4rem;
    width: 90%;
    max-width: 600px;

}
.thanks-form {
    margin-top: 15vh;
    width: 90%;
    max-width: 600px;
}

.contact-form{
    margin-bottom: 3px;
}

.contact-label{
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7)
}

.contact-input {
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.5);
}
.contact-text {
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 19px;
    background: rgba(0, 0, 0, 0.5);
    
}
.contact-button{
    margin-bottom: 3px;
    padding: 1rem 0;
    font-family: 'sans-serif' 'Montserrat';
    background-color: #053b50;
    border: 1px solid #ffffff;
    font-size: medium;
    color:#ffffff;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)

}
.the-end-of-page{
    margin-bottom: 6rem;
}
.video-box-contact{
    height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

}
/*_________________*/
/* THANKS PAGE  */
/*_________________*/
.video-box {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

video {
    width: 100%;
    max-width: 100%;
}


#closebutton {
    display:flex;
    width: 40%;
    height: 2rem;
    justify-content: center; 
    align-items: center;
    position:fixed

    
}


/*_________________*/
/* FOOTER  */
/*_________________*/
.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #053b50;
    color: #fff;
    text-align: center;
    
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color:#053b50;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #64ccc5;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
/* Header */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        padding-right: 1rem;
    } 


    header{
        height: 7rem;
    }

    #menu { 
        display: flex;
        list-style: none;
        gap: 1rem; 
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 120%;
        margin: 0 0.5rem;
    }
   
    .thanks-form {
        margin-top: 20vh;
    }
    .our-service{
        font-size: large;
    }
    .space-service{
        font-size: medium;
    }
    .index-service-text{
        font-size: small;
    }
    .hero-text{
        font-size: x-large;
    }
    .space-div-about {
        margin-top: 14rem;
    
    }
    .staff-image {
        width: 10rem;
        height: 10rem;
        border-radius: 15%;
        margin-left: 4rem;
        transition: opacity 0.3s;
    }
    .staff-list {
        flex-direction:row;
        padding: 1rem 1rem;
        margin-bottom: 4rem;
        list-style: none;
    }
    .staff {
        width:50%;
        margin:auto;
        display:block;
    }
    .fixus-hero{
        size-adjust: auto;
        margin-top: 12rem;
    }

    }
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

.fixus-hero{
    margin-top: 7rem;
    padding: 3rem 4.6rem 4.6rem;
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 32rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.6rem;
    align-items: center;
}

.fixus-text-box{
    width: 100%;
}

      
    .index-info{
        padding-right: 1rem;
    }
    .our-service{
        font-size: larger;
    }
    .space-service{
        font-size: large;
    }
    .index-service-text{
        font-size: medium;
    }
    .hero-text{
        font-size: xx-large;
    }
    .staff{
        align-items: center;
        }
}

