/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Rubik+Mono+One&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*_________________*/
/* GENERAL STYLES  */
/*_________________*/


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    background:#053b50;
}

.titel-space{
    margin: 2rem;
}

/*_________________*/
/* HEADER  */
/*_________________*/

header {
    background-color: #053b50;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fdfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 16px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 3px solid #ffffff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #053b50;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #ffffff;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*_________________*/
/* INDEX.HTML  */
/*_________________*/


.fixus-h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.fixus-p{
    margin-top: 1rem;
    line-height: 1rem;
    text-align: left;
    line-height: 1.4rem;
    font-size: 0.9;
}
.fixus-title-sect{
    margin-top: 4.5rem;
}
.hero{
    max-width: 75rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1,8rem;
    align-items: center;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.fixus-title{
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-bottom: 0.5em;
    font-size: 2rem;

}
.fixus-text{
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}
.fixus-img-help{
    width: 20rem;
    
}
.hero-img-box{
    padding-top: 1rem;
    text-align: center;
}
.fixus-hero{
    display:block;
    margin-bottom: 1rem 1rem 4rem 1rem;
    
}

.fixus-text-box{
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgba(1, 1, 1, 0.5);
    width: 100%;
    margin: 0.5rem 0 0.5rem;
    box-shadow: 0 3px 4px rgba(0,0,0,0.5);
}


/*_________________*/
/* ABOUT.HTML  */
/*_________________*/

.staff { 
    display:contents;
    position : relative; 
    height: 800px;
    width: 450px;
    text-align: auto;    
}
.staff-image {
    width: 10rem;
    height: 10rem;
    border-radius: 15%;
    margin-left: 0;
    
}
.titel-space{
    display:flex;
    margin-bottom: 4rem;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 2rem;
}


.staff-list {
    padding: 0rem 1rem;
    margin-bottom: 2rem;
}
.space-div-about {
    margin-top: 8rem;
}
.space-div-about-down {
    margin-bottom: 8rem;
}
/*_________________*/
/* CONTACT.HTML  */
/*_________________*/

.trouble-img {
    background: #053B50;
    padding: 1.8rem;
}
.trouble {    
    font-size: 1rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.div-wrap{
    display: flex;
  align-items: center;
  max-width: 128rem;
}

.h4-div{
    margin-top: 5rem;
    font-size: 2rem;
}
.contact-subheading{
    margin: 0 auto;
}

.thanks-form {
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    max-width: 67rem;
}

.contact-form{
    margin-bottom: 3px;
}

.contact-label{
    font-size: 1rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7)
}

.contact-input {
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.5);
}
.contact-text {
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    
}
.contact-button{
    margin-top: 1rem;
    margin-bottom: 3px;
    padding: 1rem 0.3;
    font-family: 'sans-serif' 'Montserrat';
    background-color: #053b50;
    border: 1px solid #ffffff;
    font-size: 1rem;
    color:#ffffff;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
    

}
.the-end-of-page{
    margin-bottom: 6rem;
    align-items: center;
    display:flex;
   
}

.h4-contact{
    font-family: "san-serif", montserrat;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.3rem;
}




/*_________________*/
/* THANKS PAGE  */
/*_________________*/
.video-box {
    margin-top: 10rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

video {
    width: 100%;
    max-width: 100%;
}


#closebutton {
    display:flex;
    width: 40%;
    height: 2rem;
    justify-content: center; 
    align-items: center;
    position:fixed

    
}


/*_________________*/
/* FOOTER  */
/*_________________*/
.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #053b50;
    color: #fff;
    text-align: center;
    
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color:#053b50;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #64ccc5;
}


/* Media query: tablets and larger (700px and up) */
@media screen and (min-width: 700px) {
/* Header */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        padding-right: 1rem;
    } 


    header{
        height: 7rem;
    }

    #menu { 
        display: flex;
        list-style: none;
        gap: 1rem; 
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 120%;
        margin: 0 0.5rem;
    }
   
    .thanks-form {
        margin-top: 20vh;
    }
    .our-service{
        font-size: large;
    }
    .space-service{
        font-size: medium;
    }
    .index-service-text{
        font-size: small;
    }
    
    .space-div-about {
        margin-top: 14rem;
    }
    /*Hero*/
    .hero{
        gap: 6rem;
    }

    .hero-first-div{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .fixus-hero{
        margin: 12rem 4rem 8rem 4rem;
    }
    .fixus-title-sect{
        max-width: 20rem;
    }
    /*STAFF ABOUT*/
    .staff-image {
        width: 10rem;
        height: 10rem;
        border-radius: 15%;
        margin-left: 0;
        transition: opacity 0.3s;
    }
    .staff-list {
        flex-direction:row;
        padding: 1rem 1rem;
        margin-bottom: 4rem;
        list-style: none;
    }
    .staff {
        width:50%;
        margin:auto;
        display:block;
    }
    
    
    .p-contact{
        max-width: 37rem;
        margin: 0 auto;
        line-height: 1.7rem;
    }

    /*CONTACT*/

    .h4-div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
    }

    .h4-contact{
        margin-top: 3rem;
    }





}

    
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
/*INDEX*/
.fixus-hero{
    margin-top: 16rem;
    
}

.hero{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.6rem;
    align-items: center;
}

.fixus-text-box{
    width: 100%;
    padding: 2rem;
    background-color: rgba(1, 1, 1, 0.5);
    margin: 1.2rem 0 1.2rem 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);

}
.fixus-title-sect{
    margin-top: 2rem;
}
.hero-first-div{
    margin: auto;
    grid-template-columns: 1fr;
    
}
.fixus-titel{
    display:flex;
    letter-spacing: -1px;
    padding-bottom: 1.5rem;
    font-size: 3.8rem;
    font-weight: 600;
}
.fixus-text{
    line-height: 1.7rem;
    font-size: 1.2rem;
}
.fixus-p{
    margin-top: 1rem;
    line-height: 1.6rem;
    font-size: 1.1rem;
    text-align: left;
}
.fixus-h3{
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    letter-spacing: 4px;
}

/**/
      

.our-service{
        font-size: larger;
    }
.space-service{
        font-size: large;
    }

.staff{
        align-items: center;
        }
    

}